
html, body{
  margin: 0;
  padding: 0;
  background-color: darkgrey;
}

.addressBookWrapper {
  position: relative;
  margin-top: 10vh;
  left: 20vw;
  background-color: black;
  width: 60vw;
  height: 500px;
  min-height: 80vh;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

.title{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: blue; */
  background-color: #444;
  font-size: medium;
  margin-bottom: 5vh;
}

.listWrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: red; */
  font-size: medium;
  width: 80%;
  margin-left: 10%;
}


.listBlock{
  margin: 20px 0 0 0;
  background-color: blueviolet;
}


.nameKeep{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}



.newNumbers{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* background-color: green; */
  font-size: medium;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 2vh;
}


.formInput{
  height: 1.8em;
  font-size: 1.2em
}

.submit, .deleteButt{
  width: 30%;
  height: 1.8em;
  font-size: 1.2em;
  background-color: cornflowerblue;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-left: 69%;
  color: white;
  text-align: center;
}


.deleteButt{
  position: absolute;
  bottom: 50px;
  left: 8.5vw;
  width: 80px;
}